1-Inspection et préparation des données

In [1]:
#importation de données
import os
import pandas as pd
import numpy as np
os.chdir('C:/Users/georg/M1/clustering/td4')

df = pd.read_excel('covertype_100k.xlsx', sheet_name='var_actives', index_col=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 1 to 100000
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   X1      100000 non-null  int64
 1   X2      100000 non-null  int64
 2   X3      100000 non-null  int64
 3   X4      100000 non-null  int64
 4   X5      100000 non-null  int64
 5   X6      100000 non-null  int64
 6   X7      100000 non-null  int64
 7   X8      100000 non-null  int64
 8   X9      100000 non-null  int64
 9   X10     100000 non-null  int64
dtypes: int64(10)
memory usage: 8.4 MB

In [2]:
df.head()

          X1   X2  X3    X4   X5    X6   X7   X8   X9   X10
Numero
1       3816   15  13  1075  407  4662  208  212  139  2751
2       3205   53  10   212   14  3379  226  219  127  3520
3       3079  214   3   351   25  2859  216  243  163  1719
4       3185  286  10   162   10   579  191  240  188  1302
5       3186  162  14   153   31  1337  233  243  137  1805

In [3]:
#statistique descriptive
np.mean(df)

835.800669

In [12]:
#centrage et réduction 
from sklearn.preprocessing import scale
from sklearn.preprocessing import StandardScaler

std = StandardScaler()
ZTrain = std.fit_transform(df)
ZTrain
# Z = scale(df, axis=0, with_mean=False) # scaling each column independently

array([[ 3.05419436, -1.25765723, -0.14532471, ..., -0.57826299,
        -0.09100446,  0.57768538],
       [ 0.87186881, -0.91774373, -0.54779331, ..., -0.22295516,
        -0.40409769,  1.15647127],
       [ 0.42183114,  0.5224161 , -1.48688672, ...,  0.99524312,
         0.53518199, -0.19904679],
       ...,
       [-1.02471854, -0.92668882,  0.3913001 , ..., -1.0858456 ,
        -1.00419304, -0.86965568],
       [ 0.66113688,  1.55110169, -0.0111685 , ..., -0.01992211,
         0.87436632,  1.15195539],
       [ 0.72899971, -0.0500698 , -0.81610572, ...,  0.84296833,
        -0.01273115,  2.04007938]])

In [14]:
#Statistique descriptive
ZTrain = pd.DataFrame(ZTrain, columns=df.columns)
ZTrain.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10
count,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05
mean,-6.706813e-16,-1.052847e-16,5.002221e-17,-7.290168e-17,3.836931e-17,-6.522782e-17,2.413358e-16,-4.696687e-16,-3.177547e-16,1.151079e-17
std,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00
min,-3.935677e+00,-1.391834e+00,-1.889355e+00,-1.265051e+00,-8.935443e-01,-1.504479e+00,-7.974174e+00,-9.308684e+00,-3.717668e+00,-1.492848e+00
25%,-5.318201e-01,-8.640732e-01,-6.819495e-01,-7.587810e-01,-7.128814e-01,-7.985634e-01,-5.357068e-01,-5.275047e-01,-6.128265e-01,-7.236421e-01
50%,1.325212e-01,-2.558069e-01,-1.453247e-01,-2.431360e-01,-3.334894e-01,-2.304968e-01,2.156536e-01,1.323527e-01,1.335995e-02,-2.043153e-01
75%,7.289997e-01,9.338903e-01,5.254563e-01,5.631453e-01,3.530295e-01,6.203209e-01,7.040378e-01,6.906935e-01,6.656375e-01,4.294138e-01
max,3.179205e+00,1.828400e+00,6.562485e+00,5.283641e+00,9.892029e+00,3.058648e+00,1.568102e+00,1.553584e+00,2.909472e+00,3.850197e+00